@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 1;
  background-color: black;
  font-family: "Press Start 2P", sans;
}

.header--title {
  color: yellow;
}

.game {
  flex: 4;
  background: black;
}
