@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Poppins:wght@300;400;500&family=Press+Start+2P&display=swap");

$btn-primary: rgba(40, 192, 48, 0.11);
$btn-primary-fulll: rgba(40, 192, 48);
$btn-hover: rgb(72, 222, 72);
$btn-text: rgb(51, 192, 164);
$background: rgb(63, 63, 63);
$headerBg: rgb(53, 51, 51);

* {
  font-family: "Poppins", sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  font-size: 1em;
  background-color: $btn-primary;
  padding: 0.5em 2em;
  border: 1px solid $btn-text;
  border-radius: 10px;
  cursor: pointer;
  color: $btn-text;
  // TODO Dropshadow
  &:hover {
    background-color: $btn-text;
    color: $background;
  }
}

.container {
  height: 100vh;
  width: 100%;
  background-color: $background;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game,
.header,
.start {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 100%;
  background-color: $background;
  .start--content {
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .start--content--text {
      width: 100%;
      font-size: 0.8em;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  flex: 1;
  background-color: $headerBg;
  border-bottom: 1px solid rgb(99, 90, 90);
  padding: 1em 5em;
  font-size: 0.8em;

  .header--content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    span {
      color: rgb(140, 140, 149);
    }
    .header--mid {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 1em;

      .header--target {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

.title {
  font-size: 3em;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: yellow;
  font-family: "Press Start 2P", sans;
  z-index: 1;
  transition: all 0.8s ease-out;
  transform-origin: bottom left;
}

.stretch {
  animation: stretch 5s 1s;
}

.top {
  font-size: 1.5em;
  top: 7%;
  left: 50%;
}

.game {
  flex: 5;
  background: $background;
  position: relative;
  cursor: crosshair;

  .good--luck {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    animation: disappear 1s forwards;
    animation-delay: 1s;
  }

  @keyframes disappear {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  .feedback {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;

    .feedback--stats {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      h1 {
        font-size: 3em;
        font-style: italic;
      }
      p {
        color: rgb(161, 161, 168);
      }
    }
  }

  .user--guess {
    position: absolute;
    top: 0;
    left: 0;
    animation: backgroundColorPalette 10s infinite;
    opacity: 0.5;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  .result--score {
    text-align: center;
    h1 {
      font-size: 3em;
      font-style: italic;
    }
  }
  .result--rounds {
    display: flex;
    gap: 1em;
  }
}

@keyframes stretch {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1, 2);
  }
  25% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  35% {
    transform: translate(-50%, -50%) scale(1.5, 1);
  }
  55% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.5, 2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes backgroundColorPalette {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}
