@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&family=Poppins:wght@300;400;500&family=Press+Start+2P&display=swap");

$btn-primary: rgba(40, 192, 48, 0.11);
$btn-primary-fulll: rgba(40, 192, 48);
$btn-hover: rgb(72, 222, 72);
$btn-text: rgb(51, 192, 164);
$background: rgb(63, 63, 63);
$headerBg: rgb(53, 51, 51);
$primary-color: #292b2c;
$secondary-color: #111112;
$primary-red: #da3c3c;
$primary-red-low: #da3c3c65;

*,
*:after,
*:before {
  font-family: "Poppins", sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.btn {
  font-size: 1em;
  background-color: $btn-primary;
  padding: 0.5em 2em;
  border: 1px solid $btn-text;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: $btn-text;
  filter: drop-shadow(3px 3px 10px rgba(53, 52, 52, 0.967));
  &:hover {
    background-color: $btn-text;
    color: $primary-color;
    box-shadow: rgba(43, 43, 56, 0.47) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(42, 37, 37, 0.58) 0px -2px 6px 0px inset;
  }
}

.container {
  height: 100vh;
  width: 100%;
  background-color: $background;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .game,
  .header,
  .start {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .start {
    width: 100%;
    background-color: $background;
    .start--content {
      height: 30%;
      width: 50%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-top: 3em;
      gap: 2em;
      text-align: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      .start--content--text {
        width: 70%;
        font-size: 0.8em;
      }
      input {
        outline: none;
        padding: 0;
        // letter-spacing: 1em;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        text-align: center;
        border: none;
        border-bottom: 1px dashed $btn-text;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .header {
    flex: 1;
    // background-color: $headerBg;
    border-bottom: 1px solid rgba(119, 119, 119, 0.21);
    padding: 1em 5em;
    font-size: 0.8em;
    display: flex;
    align-items: flex-end;

    .header--scores {
      display: flex;
      gap: 1em;
      align-items: center;
      position: relative;

      span {
        display: inline-block;
        width: 50px;
      }
    }

    .dropdown {
      position: absolute;
      z-index: 1;
      top: 30px;
      left: 0;
      border-radius: 10px;
      background: rgba(49, 49, 49, 0.72);
      padding: 1em 2em;
      min-width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      transform-origin: top center;
      ul {
        line-height: 2em;
        list-style: none;
        font-size: 1.1em;
        li {
          color: rgb(164, 164, 174);
          white-space: nowrap;
          span {
            color: #da3c3c;
          }
        }
      }
    }

    .anim--dropdown {
      animation: curtain 0.2s ease-out forwards;
    }

    .header--content {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        color: rgb(140, 140, 149);
      }
      .header--mid {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1em;

        .header--target {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }

  .title {
    font-size: 3em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #da3c3c;
    font-family: "Press Start 2P", sans;
    z-index: 1;
    transition: all 0.8s ease-out;
    transform-origin: bottom left;
  }

  .stretch {
    animation: stretch 3s 0.5s;
  }

  .postPos {
    font-size: 3em;
    top: 15%;
    left: 50%;
  }

  .colorShift {
    animation: textColorPalette 10s infinite;
  }

  .top {
    font-size: 1.5em;
    top: 7%;
    left: 50%;
  }

  .game {
    flex: 6;
    // background: $background;
    background-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    position: relative;
    cursor: crosshair;

    .good--luck {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3em;
      animation: disappear 1s forwards;
      animation-delay: 1s;
    }

    .feedback {
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: default;

      .feedback--stats {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h1 {
          font-size: 3em;
          font-style: italic;
        }
        p {
          color: rgb(161, 161, 168);
        }
      }
    }

    .user--guess {
      position: absolute;
      top: 0;
      left: 0;
      animation: backgroundColorPalette 10s infinite;
      opacity: 0.5;
    }

    .target--box {
      background: transparent;
      border: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 0px;
      height: 0px;
      // animation: grow 2s forwards;
      transition: width 2s, height 2s;
    }
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 2em;
    color: #e1d3d3; 

    .highscore {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 40%;
      height: 80%;
      padding: 1em 0;
      font-size: 1.5em;
      ul::-webkit-scrollbar {
        display: none;
      }
      ul {
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        animation: appear 2s forwards;

        li {
          list-style: none;
          text-transform: uppercase;
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 0 0.5em;

          //FIXME: How select nth child of the dots?

          // $timeOffset: 2s;
          // @for $i from 1 through 20 {
          //   li:nth-child(5):before {
          //     // units are in the variable so SCSS just does math
          //     animation-delay: $i * $timeOffset;
          //   }
          // }

          .dots {
            // border-bottom: 2px dashed $primary-red;
            flex: 1;
            position: relative;
            margin: 0 0.3em;
            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              left: 0;
              top: 50%;
              height: 50%;
              width: 0%;
              border-top: 2px dashed $primary-red-low;
              animation: "elongate" 2s forwards;
            }
          }
        }
      }
    }

    .result--wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 80%;
      gap: 2em;
    }

    .result--score {
      max-width: 60%;
      text-align: center;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 3em;
        font-style: italic;
        color: #da3c3c;
      }
    }
    .result--rounds {
      display: flex;
      gap: 1em;
    }
  }

  @keyframes stretch {
    0% {
      transform: translate(-50%, -50%) scale(1, 1);
    }
    10% {
      transform: translate(-50%, -50%) scale(1, 2);
    }
    25% {
      transform: translate(-50%, -50%) scale(1, 1);
    }
    35% {
      transform: translate(-50%, -50%) scale(1.5, 1);
    }
    55% {
      transform: translate(-50%, -50%) scale(1, 1);
    }
    75% {
      transform: translate(-50%, -50%) scale(1.5, 2);
    }
    100% {
      transform: translate(-50%, -50%) scale(1, 1);
    }
  }

  @keyframes backgroundColorPalette {
    0% {
      background: #ee6055;
    }
    25% {
      background: #60d394;
    }
    50% {
      background: #aaf683;
    }
    75% {
      background: #ffd97d;
    }
    100% {
      background: #ff9b85;
    }
  }

  @keyframes textColorPalette {
    0% {
      color: #ee6055;
    }
    25% {
      color: #60d394;
    }
    50% {
      color: #aaf683;
    }
    75% {
      color: #ffd97d;
    }
    100% {
      color: #ff9b85;
    }
  }

  @keyframes disappear {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1  ;
    }
  }

  @keyframes curtain {
    from {
      opacity: 0;
      padding-top: 0;
      visibility: hidden;
      transform: scaleY(0.1);
    }
    to {
      opacity: 1;
      padding-top: 1em;
      visibility: visible;
      transform: scaleY(1);
    }
  }
  @keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}

@keyframes elongate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
